.login-card{
  align-items: center;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  height: 40%

}
/* .login-card.mat-card-content {
} */
.login-div{
  width:100%;

}
