.login-card{
  margin-top: auto;
  margin-bottom : auto;
  margin-right: auto;
  margin-left: auto;
  width :30%;
  height:40%;
}
.login-card.mat-card-content {
  align-self: center
}
.login-div{
  background-color: darkgray;
  width:100%;
  height: 800px !important;
}
