<div class="container-fluid pad-l-r-0">
  <div class = "row justify-content-center align-items-center h-100">
  <mat-card  class=" login-card">
    <mat-card-title @goals>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class = "login-form">
        <mat-form-field class="example-full-width">
          <input matInput type ="text" placeholder = 'Username' formControlName="name" required>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder = 'Password' formControlName="password" required>
        </mat-form-field>
        <br>
        <div *ngIf = "areWrongCreds" class = "error-msg">
            Please enter corrent username or password
       </div>
        <br>
        <button type = "submit" mat-raised-button color = 'primary' [disabled]="!loginForm.valid">Login</button>
      </form>
      <a class = "navlink" [routerLink]="['/register']">
        New User? Register
      </a>
    </mat-card-content>
  </mat-card>
</div>
</div>
