    <mat-form-field class="search-form">
        <input matInput placeholder="Search Picture" type="text" id = "searchText" (input)="onSearchChange($event.target.value)">
    </mat-form-field>



<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.2%" fxLayoutAlign="center">
    <mat-card *ngFor="let image of filteredImageList ; let i = index" align = 'center' class = "image-class" >
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" align = "center">{{image.name}}</mat-card-title>
    <img mat-card-image src ="{{image.location}}"/>
    <mat-card-content>
      {{image.description}}
    </mat-card-content>
    <mat-card-actions>
        <mat-icon (click) = "likeAction()">Like</mat-icon>
        <button mat-button (click) = "shareAction()">SHARE</button>
      </mat-card-actions>
  </mat-card>
</div>
